<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
  <link rel="manifest" href="/icons/site.webmanifest">
  <link rel="shortcut icon" href="/icons/favicon.ico">
  <meta name="msapplication-TileColor" content="#603cba">
  <meta name="msapplication-config" content="/icons/browserconfig.xml">
  <meta name="theme-color" content="#000000">
  
  <meta name="description" content="A new place for consolidating top scores on Hopscotch projects. rank yourself and compete for a spot in leaderboards, for score and for speed."/>
  <meta name="keywords" content="hopscotch, website, coding, projects, modding"/>
  <meta property="og:title" content="High Scores">
  <meta property="og:description" content="A new place for consolidating top scores on Hopscotch projects. rank yourself and compete for a spot in leaderboards, for score and for speed.">
  <meta property="og:image" content="/images/icon.png">
  <meta property="og:site_name" content="Awesome_E's Hopscotch Website">

  <link rel="stylesheet" href="/style.css">
  <title>High Scores &ndash; Awesome_E Hopscotch</title>
</head>
<body>
  {{> navigation_header }}
  <div class="parallax">
    <div class="header parallax_layer parallax_layer_0">
      <div class="header-bg" style="background-image:url('/images/banners/rank_scores.png')"></div>
      <img class="invis-img" src="/images/banners/rank_scores.png" onload="this.previousElementSibling.classList.add('loaded'),this.remove()">
    </div>
    <div class="wrapper">
      <div class="header">
        <h1>High Score Leaderboard</h1><h2 class="hidden"></h2>
      </div>
      <div class="section">
        <h3>About this Page</h3>
        <div class="section-flex">
          <div class="section-upper vflex">
            <p>Introducing... the high score leaderboard! Now, you can play selected projects and compare your scores against everyone else. These games will come with a global leaderboard, and will include the listed items.</p>
          </div>
          <div class="section-lower"><ul>
            <li>Games that I have created</li>
            <li>Games that others have created</li>
            <li>Official Speedrun Pages</li>
          </ul></div>
        </div>
      </div>
      <div class="section">
        <h3>How it Works</h3>
        <p>To make high scores work, I need to first create a database with the high scores, and because it requires communication between the player when a high score is achieved and the server to store that info. So, I am using my global variable system within a modded version of each of these projects, where nothing is changed except for the high score global variables. I can then read those global variables from this website (which are the high scores) and display them to the user.</p>
      </div>
      {{> footer }}
    </div>
  </div>
  <script src="/main.js"></script>
  <script src="/navigation-menu.js"></script>
</body>
</html>
