<div class="section footer">
  <p>Awesome_E, 2021</p>
  <p>
    <a class="user-page button" target="_blank" href="https://github.com/AE-Hopscotch"><i class="fa fa-github"></i><span class="hidden">GitHub</span></a>
    <a class="user-page button" target="_blank" href="https://forum.gethopscotch.com/u/awesome_e"><i class="fa fa-feed"></i><span class="hidden">Forum</span></a>
    <a class="user-page button" target="_blank" href="/hs-tools/explore-channel/user?u=coq5v-1kwk_7m"><i class="fa fa-h-square"></i><span class="hidden">Hopscotch</span></a>
    <a class="user-page button" target="_blank" href="/hs-tools/"><i class="fa fa-globe"></i><span class="hidden">Website</span></a>
  </p>
  <br/><br/><br/><br/>
</div>
