<div class="topnav">
  <div class="small-screen">
    <div id="open-sidenav-btn">
      <i class="fa fa-bars fa-fw" style="margin: 8px 8px 8px 12px;"></i>
    </div>
    <a href="/">
      <span style="background-image:url(/images/icon.png);background-size:cover;width:25px;height:25px;margin:0 4px 0 -4px;">⁣</span>
      <b style="color: white; height: 25px; --darkreader-inline-color:#e8e6e3;" data-darkreader-inline-color="">Awesome_E</b>
    </a>
  </div>
  <a href="/" class="large-screen"><img alt="site icon" src="/images/icon.png"><span class="hidden">homepage</span></a><a
    href="/" class="nav-item">Home</a>
  <div style="width: 86px;"><a href="/projects/" class="nav-item">Projects</a>
    <div class="submenu"><a href="/projects/games/">Games</a><br><a href="/projects/templates/">Templates</a><br><a
        href="/projects/concepts/">Concepts</a></div>
  </div>
  <div style="width: 102px;"><a href="/player/" class="nav-item">Webplayer</a>
    <div class="submenu"><a href="/player/docs/">Documentation</a></div>
  </div>
  <div style="width: 76px;"><a href="/high-scores/" class="nav-item">Scores</a>
    <div class="submenu"><a href="/high-scores/games/">Games</a><br><a href="/high-scores/speedruns/">Speedruns</a><br><a
        href="/high-scores/rankings/">Rankings</a></div>
  </div>
</div>