<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <link rel="manifest" href="/icons/site.webmanifest">
    <link rel="shortcut icon" href="/icons/favicon.ico">
    <meta name="msapplication-TileColor" content="#603cba">
    <meta name="msapplication-config" content="/icons/browserconfig.xml">
    <meta name="theme-color" content="#000000">

    <meta name="description" content="Here are projects that are designed to help you make what you want in Hopscotch while simplifying the required setup."/>
    <meta name="keywords" content="hopscotch, website, coding, projects, modding"/>
    <meta property="og:title" content="Project Templates">
    <meta property="og:description" content="Here are projects that are designed to help you make what you want in Hopscotch while simplifying the required setup.">
    <meta property="og:image" content="/images/icon.png">
    <meta property="og:site_name" content="Awesome_E's Hopscotch Website">
    
    <link rel="stylesheet" href="/style.css">
    <title>Templates &ndash; Awesome_E Hopscotch</title>
</head>
<body>
  {{> navigation_header }}
    <div class="parallax">
        <div class="header parallax_layer parallax_layer_0">
            <div class="header-bg" style="background-image:url('/images/gstock_chart.jpg')"></div>
            <img class="invis-img" src="/images/gstock_chart.jpg" onload="this.previousElementSibling.classList.add('loaded'),this.remove()">
        </div>
        <div class="wrapper">
            <div class="header">
                <h1>Project Templates</h1><h2 class="hidden"></h2>
            </div>
            <div class="section section-flex" data-id="1197duy17y">
                <div class="section-upper vflex">
                    <h3>Music Interpreter</h3>
                    <div class="flex">
                        <p><img alt="project thumbnail" data-screen="small" width="190px" src="/images/hs-thumbnails/1197duy17y.png" style="float:right;margin:24px 12px 16px 20px;"/>After the introduction of strings, I wanted to create a method that allows the user to write music in Hopscotch with the use of one string instead of having to add blocks for every note or chord in the project. The only change needed for every project is the music string itself; everything else can be copied block for block or with the help of the <a href="/hs-tools/hs-bulder">Project Builder</a> importing <a href="https://awesome-e.github.io/hs-tools/hs-builder/presets/AE_Note-Striker-Engine.hspre">a preset</a>. The best part about working with strings is that custom programs can work with strings much more easily than with Hopscotch block syntax for music. In addition, this method incorporates the my "Keep Sync" chords to eliminate delays between notes in the same chord, as well as user comments to help the user to better understand the string they are working with.</p>
                    </div>
                    <div class="center" data-screen="large"><a class="button game-link" href="/hs-tools/play-project/?id=1197duy17y" data-url="{href}&play=1">Music Interpreter Demo <i class="fa fa-arrows-alt"></i></a></div>
                </div>
                <div class="section-lower vflex">
                    <div class="center">
                        <img alt="project thumbnail" data-screen="tiny medium large" style="margin-bottom:16px" width="100%" src="/images/hs-thumbnails/1197duy17y.png"/>
                        <a data-screen="tiny small medium" class="button game-link" href="/hs-tools/play-project/?id=1197duy17y" data-url="{href}&play=1">Music Interpreter Demo <i class="fa fa-arrows-alt"></i></a>
                    </div>
                </div>
            </div>
            <div class="section section-flex" data-id="11acw6vp2k">
                <div class="section-lower vflex">
                    <div class="center">
                        <br data-screen="tiny medium large"/><br data-screen="tiny medium large"/>
                        <img alt="project thumbnail" data-screen="tiny medium large" style="margin-bottom:16px" width="100%" src="/images/hs-thumbnails/11acw6vp2k.png"/>
                        <br data-screen="tiny small medium"/><p data-screen="tiny small medium" style="text-indent:0;text-align:center;text-shadow:none;font-size:18px;">Open in...</p>
                        <div class="flex center" data-screen="tiny small medium">
                            <a class="button game-link" href="/hs-tools/play-project/?id=11acw6vp2k" data-url="{href}&play=1">Web <i class="fa fa-arrows-alt"></i></a>
                            <a class="button" target="_blank" href="https://c.gethopscotch.com/p/11acw6vp2k">App <i class="fa fa-external-link"></i></a>
                            <!-- TWO LINKS -->
                        </div>
                    </div>
                </div>
                <div class="section-upper vflex">
                    <h3>Device Guesser</h3>
                    <div class="flex">
                        <p><img alt="project thumbnail" data-screen="small" width="190px" src="/images/hs-thumbnails/11acw6vp2k.png" style="float:left;margin:24px 20px 16px 12px;"/>This project will be used to identify devices within the Hopscotch app based on last touch multipliers. These multipliers, when multiplied by the Last Touch Y decimal given from a device, will always produce a whole number. It will be different for different devices, and this is how we can identify such devices. Note that some of the multipliers will be the same across certain models, especially those with the same or similar screen size/resolution/ratio. This project, unlike platform identification, can be really useful to know when designing elements like touch controls, which need a bigger relative size on mobile than tablet. When combined with the previous project, Hopscotch can determine the platform, and if in the app, the device (family) AND the orientation.</p>
                    </div>
                    <div class="flex center" data-screen="large">
                        <a class="button game-link" href="/hs-tools/play-project/?id=11acw6vp2k" data-url="{href}&play=1">Web Demo <i class="fa fa-arrows-alt"></i></a>
                        <a class="button" target="_blank" href="https://c.gethopscotch.com/p/11acw6vp2k">App Demo <i class="fa fa-external-link"></i></a>
                    </div>
                </div>
            </div>
            <div class="section section-flex" data-id="zy1kbypka">
                <div class="section-upper vflex">
                    <h3>Drawing Pad X</h3>
                    <div class="flex">
                        <p><img alt="project thumbnail" data-screen="small" width="190px" src="/images/hs-thumbnails/zy1kbypka.png" style="float:right;margin:24px 12px 16px 20px;"/>Drawing Pad X is a unique drawing pad on Hopscotch. It has nearly all the features an artist would need within limitations of Hopscotch (mirror tools, wide color selection, multiple save slots). Even after hitting the featured page, it doesn't seem to have picked up steam. Whether it is because people like what they used to have or haven't seen my Drawing Pad, it has almost everything that is in any other drawing pad (the big exception being undo). The two best features that make it pop out are stickers and draggable windows. The user experience is pretty good, as everything you need help on is right there in the project and the project runs at a decent framerate given the number of objects.</p>
                    </div>
                    <div class="center" data-screen="large"><a class="button game-link" href="/hs-tools/play-project/?id=zy1kbypka" data-url="{href}&play=1">Open Drawing Pad X <i class="fa fa-arrows-alt"></i></a></div>
                </div>
                <div class="section-lower vflex">
                    <div class="center">
                        <img alt="project thumbnail" data-screen="tiny medium large" style="margin-bottom:16px" width="100%" src="/images/hs-thumbnails/zy1kbypka.png"/>
                        <a data-screen="tiny small medium" class="button game-link" href="/hs-tools/play-project/?id=zy1kbypka" data-url="{href}&play=1">Open Drawing Pad X <i class="fa fa-arrows-alt"></i></a>
                    </div>
                </div>
            </div>
            <div class="section section-flex" data-id="zq0f4uiyf">
                <div class="section-lower vflex">
                    <div class="center">
                        <img alt="project thumbnail" data-screen="tiny medium large" style="margin-bottom:16px" width="100%" src="/images/hs-thumbnails/zq0f4uiyf.png"/>
                        <a data-screen="tiny small medium" class="button game-link" href="/hs-tools/play-project/?id=zq0f4uiyf" data-url="{href}&play=1">Generate a Background <i class="fa fa-arrows-alt"></i></a>
                    </div>
                </div>
                <div class="section-upper vflex">
                    <h3>Smooth Background Creator</h3>
                    <div class="flex">
                        <p><img alt="project thumbnail" data-screen="small" width="190px" src="/images/hs-thumbnails/zq0f4uiyf.png" style="float:left;margin:24px 20px 16px 12px;"/>As suggested by its name, Smooth Background Generator will generate code for a smooth background based on the preferences of the user. To get started, go ahead and open the project and click start. You will be asked to choose a background style. Choose the colors (it will label each one) and hit "next". Just like that, the code is generated. This project helps new users create cool backgrounds as they can screenshot the code, and it is even useful to more advanced coders like me because it takes away the work of calculating differences between color values to form the background.</p>
                    </div>
                    <div class="center" data-screen="large"><a class="button game-link" href="/hs-tools/play-project/?id=zq0f4uiyf" data-url="{href}&play=1">Generate a Background <i class="fa fa-arrows-alt"></i></a></div>
                </div>
            </div>
            {{> footer }}
        </div>
    </div>
    <script src="/main.js"></script>
    <script src="/navigation-menu.js"></script>
    <script src="/aehs-player.js"></script>
</body>
</html>