<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <link rel="manifest" href="/icons/site.webmanifest">
    <link rel="shortcut icon" href="/icons/favicon.ico">
    <meta name="msapplication-TileColor" content="#603cba">
    <meta name="msapplication-config" content="/icons/browserconfig.xml">
    <meta name="theme-color" content="#000000">

    <meta name="description" content="Awesome_E's games on Hopscotch include Escape Hopscotch HQ, Perilous Penguins, Zombie Run, and Minigames. Check them out on this page!"/>
    <meta name="keywords" content="hopscotch, website, coding, projects, modding"/>
    <meta property="og:title" content="Hopscotch Games">
    <meta property="og:description" content="Awesome_E's games on Hopscotch include Escape Hopscotch HQ, Perilous Penguins, Zombie Run, and Minigames. Check them out on this page!">
    <meta property="og:image" content="/images/icon.png">
    <meta property="og:site_name" content="Awesome_E's Hopscotch Website">

    <link rel="stylesheet" href="/style.css">
    <title>Games &ndash; Awesome_E Hopscotch</title>
</head>
<body>
  {{> navigation_header }}
    <div class="parallax">
        <div class="header parallax_layer parallax_layer_0">
            <div class="header-bg" style="background-image:url('/images/banners/hs-games.png')"></div>
            <img class="invis-img" src="/images/banners/hs-games.png" onload="this.previousElementSibling.classList.add('loaded'),this.remove()">
        </div>
        <div class="wrapper">
            <div class="header">
                <h1>Hopscotch Games</h1><h2 class="hidden"></h2>
            </div>
            <div class="section section-flex" data-id="10iu14ay37">
                <div class="section-upper vflex">
                    <h3>Escape Hopscotch HQ</h3>
                    <div class="flex">
                        <p><img alt="project thumbnail" data-screen="small" width="190px" src="/images/hs-thumbnails/10iu14ay37.png" style="float:right;margin:24px 12px 16px 20px;"/>I made this game in 2019 for the annual Hopscotch Halloween Contest, also known as HHC. It is one of my favorites games that I created, and also one of the most complex. Inspired by escape games on sites like Coolmathgames, I decided to create a game to that scale, but seasonally themed and in a drag-n-drop coding app. In this game, your goal is to escape the building in the least amount of time possible. Tap objects around the room to uncover clues to help you progress, fight against a Zombie lurking in the Headquarters of Hopscotch, and race for the fastest time possible!</p>
                    </div>
                    <div class="center" data-screen="large"><a class="button game-link" href="/hs-tools/play-project/?id=10iu14ay37" data-url="{href}&play=1">Play Escape Hopscotch HQ <i class="fa fa-arrows-alt"></i></a></div>
                </div>
                <div class="section-lower vflex">
                    <div class="center">
                        <img alt="project thumbnail" data-screen="tiny medium large" style="margin-bottom:16px" width="100%" src="/images/hs-thumbnails/10iu14ay37.png"/>
                        <a data-screen="tiny small medium" class="button game-link" href="/hs-tools/play-project/?id=10iu14ay37" data-url="{href}&play=1">Play Escape Hopscotch HQ <i class="fa fa-arrows-alt"></i></a>
                    </div>
                </div>
            </div>
            <div class="section section-flex" data-id="10lr1mexdb">
                <div class="section-lower vflex">
                    <div class="center">
                        <img alt="project thumbnail" data-screen="tiny medium large" style="margin-bottom:16px" width="100%" src="/images/hs-thumbnails/10lr1mexdb.png"/>
                        <a data-screen="tiny small medium" class="button game-link" href="/hs-tools/play-project/?id=10lr1mexdb" data-url="{href}&play=1">Play Perilous Penguins <i class="fa fa-arrows-alt"></i></a>
                    </div>
                </div>
                <div class="section-upper vflex">
                    <h3>Perilous Penguins</h3>
                    <div class="flex">
                        <p><img alt="project thumbnail" data-screen="small" width="190px" src="/images/hs-thumbnails/10lr1mexdb.png" style="float:left;margin:24px 20px 16px 12px;"/>This game was made as a holiday special and can be played with up to 64 players in the room. It always provides good laughs as every contestant contemplates which gifts contain the perilous penguins that will end their round. Upon starting the game, there will be one gift for each player, with half of them filled with penguins. Players are chosen in a random order, and each one must choose a gift that does <b>NOT</b> contain a penguin. Choose a polar bear and you stay in. Choose a penguin and you're out. Try to be the last person standing.</p>
                    </div>
                    <div class="center" data-screen="large"><a class="button game-link" href="/hs-tools/play-project/?id=10lr1mexdb" data-url="{href}&play=1">Play Perilous Penguins <i class="fa fa-arrows-alt"></i></a></div>
                </div>
            </div>
            <div class="section section-flex" data-id="zrg0oeibh">
                <div class="section-upper vflex">
                    <h3>Zombie Run</h3>
                    <div class="flex">
                        <p><img alt="project thumbnail" data-screen="small" width="190px" src="/images/hs-thumbnails/zrg0oeibh.png" style="float:right;margin:24px 12px 16px 20px;"/>It looks like you’ve been tricked this year during Trick-or-Treat! You (Bear) and you friend, were leaving the neighbor’s house after grabbing some candy as usual, until Witch Jody had summoned a storm, causing lightning to strike your poor friend. As you are horrified from such a loss, you begin to run from the remaining Zombear. Try to run as far as you can without being caught by Zombear or being hit in the face by the obstacles that await. Collect blue items, as they are powerups, and they will boost your gameplay (these can make you immune to hits, boost score, and push back Zombear). Avoid red items, as they will make it harder for you to continue in your run. These can move Zombear closer to you, slow the rate of score, and reduce your visibility.</p>
                    </div>
                    <div class="center" data-screen="large"><a class="button game-link" href="/hs-tools/play-project/?id=zrg0oeibh" data-url="{href}&play=1">Play Zombie Run <i class="fa fa-arrows-alt"></i></a></div>
                </div>
                <div class="section-lower vflex">
                    <div class="center">
                        <img alt="project thumbnail" data-screen="tiny medium large" style="margin-bottom:16px" width="100%" src="/images/hs-thumbnails/zrg0oeibh.png"/>
                        <a data-screen="tiny small medium" class="button game-link" href="/hs-tools/play-project/?id=zrg0oeibh" data-url="{href}&play=1">Play Zombie Run <i class="fa fa-arrows-alt"></i></a>
                    </div>
                </div>
            </div>
            <div class="section section-flex" data-id="xq9auoc">
                <div class="section-lower vflex">
                    <div class="center">
                        <img alt="project thumbnail" data-screen="tiny medium large" style="margin-bottom:16px" width="100%" src="/images/hs-thumbnails/xq9auoc.png"/>
                        <!-- <a data-screen="" class="button game-link" href="/hs-tools/play-project/?id=xq9auoc" data-url="{href}&play=1">Click here to play the game <i class="fa fa-arrows-alt"></i></a> -->
                        <div class="flex center" data-screen="tiny small medium">
                            <a class="button game-link" href="/hs-tools/play-project/?id=xq9auoc" data-url="{href}&play=1">Solo <i class="fa fa-arrows-alt"></i></a>
                            <a class="button game-link" href="/hs-tools/play-project/?id=tsqu-qg" data-url="{href}&play=1">Duel <i class="fa fa-arrows-alt"></i></a>
                            <!-- TWO LINKS -->
                        </div>
                    </div>
                </div>
                <div class="section-upper vflex">
                    <h3>Robo Fight 6000</h3>
                    <div class="flex">
                        <p><img alt="project thumbnail" data-screen="small" width="190px" src="/images/hs-thumbnails/xq9auoc.png" style="float:left;margin:14px 20px 12px 12px;"/>This is an oldie but a goodie. The idea of 2-Player Fights were popular when I started, and could only be made with an older version of the app or a project made with it (since the newest players did not support multiple touch points at that time). Each character had unique abilities, attacks, and powers, allowing for an interesting fight. However, I made a newer version called Space Chase, where one player is attacking and the defender has abilities to stay alive as long as possible.</p>
                    </div>
                    <div class="flex center" data-screen="large">
                        <a class="button game-link" href="/hs-tools/play-project/?id=xq9auoc" data-url="{href}&play=1">Play Solo <i class="fa fa-arrows-alt"></i></a>
                        <a class="button game-link" href="/hs-tools/play-project/?id=tsqu-qg" data-url="{href}&play=1">Play Mulitplayer <i class="fa fa-arrows-alt"></i></a>
                        <!-- TWO LINKS -->
                    </div>
                </div>
            </div>
            <div class="section section-flex" data-id="zwofn3guf">
                <div class="section-upper vflex">
                    <h3>Snowman Stacker</h3>
                    <div class="flex">
                        <p><img alt="project thumbnail" data-screen="small" width="190px" src="/images/hs-thumbnails/zwofn3guf.png" style="float:right;margin:24px 12px 16px 20px;"/>As a winter-themed game, Snowman Stacker is pretty simple. Just like the arcade game Stacker, a block of snow moves from side to side. Tap the screen to make it drop and try to land it on the existing snowman (first one is a free point). This game can be fun for in-person competition or just to test your timing and reaction skills. Try to get the tallest snowman possible, and when you finish, see the snowman you built by scrolling using your finger. You may be surprised on how it turned out!</p>
                    </div>
                    <div class="center" data-screen="large"><a class="button game-link" href="/hs-tools/play-project/?id=zwofn3guf" data-url="{href}&play=1">Play Snowman Stacker <i class="fa fa-arrows-alt"></i></a></div>
                </div>
                <div class="section-lower vflex">
                    <div class="center">
                        <img alt="project thumbnail" data-screen="tiny medium large" style="margin-bottom:16px" width="100%" src="/images/hs-thumbnails/zwofn3guf.png"/>
                        <a data-screen="tiny small medium" class="button game-link" href="/hs-tools/play-project/?id=zwofn3guf" data-url="{href}&play=1">Play Snowman Stacker <i class="fa fa-arrows-alt"></i></a>
                    </div>
                </div>
            </div>
            <div class="section section-flex" data-id="zbuqrt4ui">
                <div class="section-lower vflex">
                    <div class="center">
                        <img alt="project thumbnail" data-screen="tiny medium large" style="margin-bottom:16px" width="100%" src="/images/hs-thumbnails/zbuqrt4ui.png"/>
                        <a data-screen="tiny small medium" class="button game-link" href="/hs-tools/play-project/?id=zbuqrt4ui" data-url="{href}&play=1">Play Minigames <i class="fa fa-arrows-alt"></i></a>
                    </div>
                </div>
                <div class="section-upper vflex">
                    <h3>Minigames 2</h3>
                    <div class="flex">
                        <p><img alt="project thumbnail" data-screen="small" width="190px" src="/images/hs-thumbnails/zbuqrt4ui.png" style="float:left;margin:24px 20px 16px 12px;"/>This is the second rendition of my first extrememly popular project, Minigames. The idea of the original Minigames was to compile several games in Hopscotch's video tutorials into one project, which got suprisingly popular with both the first version and the Halloween special version. Three years later, I upped the level from tutorial games to full-sized Hopscotch games, and it once again got popular. This project is that compilation with 8 games, settings, translations, and more!</p>
                    </div>
                    <div class="center" data-screen="large"><a class="button game-link" href="/hs-tools/play-project/?id=zbuqrt4ui" data-url="{href}&play=1">Play Minigames <i class="fa fa-arrows-alt"></i></a></div>
                </div>
            </div>
            {{> footer }}
        </div>
    </div>
    <script src="/main.js"></script>
    <script src="/navigation-menu.js"></script>
    <script src="/aehs-player.js"></script>
</body>
</html>