<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <link rel="manifest" href="/icons/site.webmanifest">
    <link rel="shortcut icon" href="/icons/favicon.ico">
    <meta name="msapplication-TileColor" content="#603cba">
    <meta name="msapplication-config" content="/icons/browserconfig.xml">
    <meta name="theme-color" content="#000000">
    
    <meta name="description" content="The top scores for the various speedruns I host"/>
    <meta name="keywords" content="hopscotch, website, coding, projects, modding"/>
    <meta property="og:title" content="Speedun Scores">
    <meta property="og:description" content="The top scores for the various speedruns I host">
    <meta property="og:image" content="/images/icon.png">
    <meta property="og:site_name" content="Awesome_E's Hopscotch Website">

    <link rel="stylesheet" href="/style.css">
    <title>Speedrun Scores &ndash; Awesome_E Hopscotch</title>
    <style>
        .section img:hover {
            cursor: pointer;
            box-shadow: 2px 2px 16px 4px #fff7;
        }
    </style>
</head>
<body>
  {{> navigation_header }}
    <div class="parallax">
        <div class="header parallax_layer parallax_layer_0">
            <div class="header-bg" style="background-image:url('/images/banners/speedrun.jpg')"></div>
            <img class="invis-img" src="/images/banners/speedrun.jpg" onload="this.previousElementSibling.classList.add('loaded'),this.remove()">
        </div>
        <div class="wrapper">
            <div class="header">
                <h1>Speedruns</h1><h2 class="hidden"></h2>
            </div>
            <div class="section vflex">
                <h2 style="padding:50px 0;font-size:30px;line-height:50px">Note: Community times have not been added yet to this page yet.</h2>
            </div>
            <div class="section section-flex">
                <div class="section-lower vflex">
                    <div class="center">
                        <img alt="project thumbnail" data-screen="tiny medium large" style="margin-bottom:16px" width="100%" src="/images/speedrun-logos/peak-platformers.png"/>
                        <a data-screen="tiny small medium" class="button game-link" href="/hs-tools/play-project/peak-platformers.html">Play Peak Platformers &ic; <i class="fa fa-play"></i></a>
                    </div>
                </div>
                <div class="section-upper vflex">
                    <h3>Peak Platformers</h3>
                    <div class="flex">
                        <p><img alt="project thumbnail" data-screen="small" width="190px" src="/images/speedrun-logos/peak-platformers.png" style="float:left;margin:24px 20px 16px 12px;"/>Like speedruns in gaming, platformers in Hopscotch have been around for a while. So why not speedrun them just like people do with video games outside of Hopscotch? So, I created Peak Platformers, a run to demonstrate your platformer skills. Just like the most famous platformer of all time (I mean no other than Super Mario Bros), one of these HOPSCOTCH platformers has a <i>glitch</i> that requires a bit of skill to execute and saves massive amounts of time. See if you can find it!</p>
                    </div>
                    <div class="center" data-screen="large"><a class="button game-link" href="/hs-tools/play-project/peak-platformers.html">Play Peak Platformers &ic; <i class="fa fa-play"></i></a></div>
                </div>
            </div>
            <div class="section section-flex">
                <div class="section-upper vflex">
                    <h3>Spooktober Dash</h3>
                    <div class="flex">
                        <p><img alt="project thumbnail" data-screen="small" width="190px" src="/images/speedrun-logos/spooktober-dash.png" style="float:left;margin:24px 20px 16px 12px;"/>It was that time of year again &ndash; the month of October, where Hopscotch characters dress for the yearly Hopscotch Halloween Contest. This speedrun features some of those submissions in an action-packed race for the fastest time! Games include Finding the Candy, a platformer, and Crazy for Candy.</p>
                    </div>
                    <div class="center" data-screen="large"><a class="button game-link" href="/hs-tools/play-project/spooktober-dash.html">Play Spooktober Dash &ic; <i class="fa fa-play"></i></a></div>
                </div>
                <div class="section-lower vflex">
                    <div class="center">
                        <img alt="project thumbnail" data-screen="tiny medium large" style="margin-bottom:16px" width="100%" src="/images/speedrun-logos/spooktober-dash.png"/>
                        <a data-screen="tiny small medium" class="button game-link" href="/hs-tools/play-project/spooktober-dash.html">Play Spooktober Dash &ic; <i class="fa fa-play"></i></a>
                    </div>
                </div>
            </div>
            <div class="section section-flex">
                <div class="section-lower vflex">
                    <div class="center">
                        <img alt="project thumbnail" data-screen="tiny medium large" style="margin-bottom:16px" width="100%" src="/images/speedrun-logos/pi-run.png"/>
                        <a data-screen="tiny small medium" class="button game-link" href="/hs-tools/play-project/pi-run.html">Play Pi Run &ic; <i class="fa fa-play"></i></a>
                    </div>
                </div>
                <div class="section-upper vflex">
                    <h3>Pi Run</h3>
                    <div class="flex">
                        <p><img alt="project thumbnail" data-screen="small" width="190px" src="/images/speedrun-logos/pi-run.png" style="float:left;margin:24px 20px 16px 12px;"/>Pi Run is the very first Hopscotch Speedrun site I made, and it consists of five different games to race through for the fastest time. Speedrunning is nothing new, but it was at the time for Hopscotch. Quickly thinking of games to put together, I settled on 5 games that were put together, on Pi Day (3/14), to make Pi Run.</p>
                    </div>
                    <div class="center" data-screen="large"><a class="button game-link" href="/hs-tools/play-project/pi-run.html">Play Pi Run &ic; <i class="fa fa-play"></i></a></div>
                </div>
            </div>
            <div class="section section-flex">
                <div class="section-upper vflex">
                    <h3>The Escapist</h3>
                    <div class="flex">
                        <p><img alt="project thumbnail" data-screen="small" width="190px" src="/images/speedrun-logos/the-escapist.png" style="float:left;margin:24px 20px 16px 12px;"/>A "time is ticking" type of run for sure. Your goal here is to <i>escape</i> or complete all of the tasks based on clues as fast as you can! This run requires practicing some games before-hand as well as fast fingers. This speedrun was put together from 7 projects featured in the temporary "Escape Room Channel" on Hopscotch. If you love the constant challenge of an escape room, this speedrun is definitely for you!</p>
                    </div>
                    <div class="center" data-screen="large"><a class="button game-link" href="/hs-tools/play-project/the-escapist.html">Play The Escapist &ic; <i class="fa fa-play"></i></a></div>
                </div>
                <div class="section-lower vflex">
                    <div class="center">
                        <img alt="project thumbnail" data-screen="tiny medium large" style="margin-bottom:16px" width="100%" src="/images/speedrun-logos/the-escapist.png"/>
                        <a data-screen="tiny small medium" class="button game-link" href="/hs-tools/play-project/the-escapist.html">Play The Escapist &ic; <i class="fa fa-play"></i></a>
                    </div>
                </div>
            </div>
            <div class="section section-flex">
                <div class="section-lower vflex">
                    <div class="center">
                        <img alt="project thumbnail" data-screen="tiny medium large" style="margin-bottom:16px" width="100%" src="/images/speedrun-logos/shapes.png"/>
                        <a data-screen="tiny small medium" class="button game-link" href="/hs-tools/play-project/shapes.html">Play Speedy Shapes &ic; <i class="fa fa-play"></i></a>
                    </div>
                </div>
                <div class="section-upper vflex">
                    <h3>Speedy Shapes</h3>
                    <div class="flex">
                        <p><img alt="project thumbnail" data-screen="small" width="190px" src="/images/speedrun-logos/shapes.png" style="float:left;margin:24px 20px 16px 12px;"/>From squares to circles and donuts, from stars to parallelograms, the shapes speedrun has it all, with a focus on shapes making up nearly the entirety of all three projects featured in this run. Avoid Obstacles in "The Rings 2", hop your way through the "Loop" Platformer, and finish strong as you tackle a tough but rewarding game: "Perilous Parallelogram". Can you score under 1 minute?</p>
                    </div>
                    <div class="center" data-screen="large"><a class="button game-link" href="/hs-tools/play-project/shapes.html">Play Speedy Shapes &ic; <i class="fa fa-play"></i></a></div>
                </div>
            </div>
            {{> footer }}
        </div>
    </div>
    <script src="/main.js"></script>
    <script src="/navigation-menu.js"></script>
    <script>
        document.querySelectorAll('.section img').forEach(elm=>{
            elm.addEventListener('click', ()=>{
                location.href = '/hs-tools/play-project/' + elm.src.match(/\/([a-z\-]+)\.(?:png|jpg)$/)[1] + '.html';
            });
        });
    </script>
</body>
</html>